In [25]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from datetime import datetime

In [26]:
data = pd.read_excel('may.xlsx')

In [27]:
data.head()

,Date,Rms Sold,Rms To Sell,Occ,Arr Rms,Arr Res,SO Rms,Deprt Rms,Deprt Res,Cmp Rms,No Show Rms,Trans Rms
0,02/23/2023 Thu,146,4,97.333333,102,101,44,43,42,3,2,132
1,02/24/2023 Fri,140,10,93.333333,103,102,37,109,108,1,1,119
2,02/25/2023 Sat,140,10,93.333333,13,13,127,13,13,3,5,118
3,02/26/2023 Sun,79,14,52.666667,69,68,10,130,129,0,2,79
4,02/27/2023 Mon,105,33,70.000000,83,83,22,57,56,0,3,82

In [28]:
def splitdate(x):
    spli = x.split(" ")
    return spli[0]

In [29]:
data['Date'] = data['Date'].apply(splitdate)

In [30]:
# data['Date'] = pd.to_datetime(data['Date'],format='%d%b%Y')
data.set_index('Date',inplace=True)

In [ ]:
data.drop('Room Revenue',axis=1,inplace=True)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, 02/23/2023 to 05/11/2023
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rms Sold     78 non-null     int64
 1   Rms To Sell  78 non-null     int64
 2   Occ          78 non-null     float64
 3   Arr Rms      78 non-null     int64
 4   Arr Res      78 non-null     int64
 5   SO Rms       78 non-null     int64
 6   Deprt Rms    78 non-null     int64
 7   Deprt Res    78 non-null     int64
 8   Cmp Rms      78 non-null     int64
 9   No Show Rms  78 non-null     int64
 10  Trans Rms    78 non-null     int64
dtypes: float64(1), int64(10)
memory usage: 7.3+ KB

In [58]:
X = data.drop('Deprt Rms',axis=1)
y = data['Deprt Rms']

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

In [60]:
model = LinearRegression()

In [61]:
model.fit(X_train,y_train)

LinearRegression()

In [62]:
ypred = model.predict(X_test)

In [63]:
print(ypred)

[  9.72402334  65.59188042  34.25934073  70.60549653 108.63161565
  66.09894569  86.91595115  40.90556382  67.09396277  67.55426355
  56.93704866  77.85026805  20.56151408  66.79991631  77.99192036
  76.82641783]

In [64]:
r2 = r2_score(y_test,ypred)
r2

0.9989091479441957

In [52]:
df2 = pd.read_excel("may future.xlsx")

In [53]:
df2.head()

,Date,Rms Sold,Rms To Sell,Occ,Arr Rms,Arr Res,SO Rms,Deprt Rms,Deprt Res,Cmp Rms,No Show Rms,Trans Rms
0,05/12/2023 Fri,112,37,74.666667,43,43,69,29,29,0,0,29
1,05/13/2023 Sat,116,33,77.333333,13,13,103,9,9,0,0,28
2,05/14/2023 Sun,16,133,10.666667,6,6,10,106,106,0,0,16
3,05/15/2023 Mon,32,117,21.333333,24,24,8,8,8,0,0,32
4,05/16/2023 Tue,50,99,33.333333,27,27,23,9,9,0,0,41

In [54]:
df2['Date'] = df2['Date'].apply(splitdate)
df2.set_index('Date',inplace=True)

In [55]:
futureTest = df2.drop('Deprt Rms',axis=1)

In [56]:
occPrediction = model.predict(futureTest)

In [65]:
for i in occPrediction:
    print(i)

29.397297855832463
9.402618774037007
107.64748003690576
7.891756857233522
8.956114500642943
34.2960234761109
16.97433655366848
12.285867745812181

With just the occupancy forecast report, the model will just spit back the exact values and will not properly forecast.
could be mitigated with a report that shows pick ups of 30 day 10 day 5 day and 1 day.